<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
<p>
  <strong>Image:</strong>
  <%= @post.image.url %>
</p>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'return to posts lists', posts_path %>
