<!DOCTYPE html>
<html>
  <head>
    <title>Facebookclone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <ul>
    <div class=top_menu clearfix>
    <li class="right"><%= link_to "Log in", new_session_path(@session) %></li>

      </div>
    </ul>
</header>
    <% flash.each do |key, value| %>
 <%= content_tag(:div, value, class: "#{key}") %>
 <% end %>
    <%= yield %>
    <div class="footer">
    <p>Let's connect</p>
  </body>
</html>
